@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1366px;
  padding: 10px;
  text-align: center;
  margin: auto;
}

/* utilities */
.bg-dark {
  background-color: #333;
}
.clr{
    clear:both;
}
/* end of utilities */

button {
  border: none;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.7em;
  color: #333;
}

a {
  text-decoration: none;
  color: brown;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  padding: 10px 5px 10px 5px;
}
p {
  margin: 10px 0;
}

/* Navbar */
#navbar {
  background-color: #333;
  color: #f3f3f3;
  overflow: auto;
}

#navbar a {
  color: #f3f3f3;
}
#navbar h1 {
  float: left;
  padding: 20px;
  font-family: "baloo bhai", cursive;
  font-size: 35px;
}
#navbar h1 a:hover{
    color:gold;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background-color: gold;
  color: black;
  font-weight: bold;
}

#show-case {
  background-image: url(/images/hotel.jpg);
  background-position: center;
  background-size: cover;
  height: 685px;
  padding: 20px;
}

#content-showcase {
  text-align: center;
  width: 900px;
  max-width: fit-content;
  margin: auto;
  background-color: #22222270;
  padding: 20px;
  margin-top: 170px;
  border-radius: 10px;
}

#content-showcase p,
#content-showcase h2 {
  color: white;
}

#content-showcase h2 {
  font-family: "baloo bhai", cursive;
  font-size: 35px;
}

#content-showcase h2 span {
  color: gold;
}

#show-case button {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
}

#show-case button:hover {
  background-color: gold;
  color: black;
  font-weight: bold;
}

.info-img {
  height: 500px;
  float: left;
  width: 50%;
  background-image: url(/images/hotels1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.info-content {
  height: 500px;
  max-height: fit-content;
  float: right;
  width: 50%;
}
.info-content p {
  color: white;
}

.info-content h2 {
  color: white;
  font-size: 30px;
  font-family: "baloo bhai", cursive;
}
.info-content h2 span {
  color: gold;
}

.content-text {
  width: 80%;
  max-width: fit-content;
  margin: auto;
  text-align: center;
  padding-top: 130px;
}
.content-text button {
  background-color: gold;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.content-text button:hover {
  background-color: orangered;
  color: black;
}

.features {
  height: 500px;
}

.features div {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 40px;
}

.one {
  background-color: azure;
}

.two {
  background-color: gold;
}

.three {
  background-color: azure;
}

.features img {
  width: 100px;
  height: 100px;
  margin: auto;
}
.footer-text {
  display: block;
  width: fit-content;
  color: #f3f3f3;
  font-weight: bold;
  margin: auto;
  padding: 30px;
}

/* about page */

#about-section{
    background-color: rgba(211, 211, 211, 0);
}

.about-body{
    height: auto;
    max-width:1400px;
    margin: auto;
}


.text-container{
    width:50%;
    max-width: fit-content;
    padding:20px 60px 0 60px;
    margin:auto;
    float:left;
}

.about-body h2 {
    margin-top:20px;
    font-family: "baloo bhai", cursive;
    font-size:50px;
}
.about-body h2 span {
    color:gold;
}

.about-image-container{
    margin: 150px 150px 150px 0px;
    width:30%;
    border-radius: 50%;
    height: 400px;
    float:right;
    background-image: url(/images/hotel-view.png);
    background-size: cover;
}


.testimonial-bg{
  background-image: url(/images/hotel-gallery.png);
  background-size: cover;
  margin:0;
  padding:60px;
}
.testimonial-one, .testimonial-two{
  padding:40px;
  height: 200px;
  max-width:fit-content;
  width:1300px;
  margin:auto;
  background-color: #9b6d43f7;
}

.testimonial-one img,  .testimonial-two img{
  max-width:10%;
  border-radius: 50%;
  float:left;
  margin:0 20px 0 20px;
}

.testimonial-one{
  margin-bottom: 70px;
}
.testimonial-one p , .testimonial-two p{
  width:80%;
  float:left;
  color:whitesmoke;
}

.testimonial-bg h2{
  color:white;
  font-family: "Baloo bhai", cursive;
  font-size:50px;
  padding-bottom: 40px ;
  text-align: center;
}


.form-div{
  padding: 50px 150px;
  max-width:fit-content;
  width:800px;

}
.div-input label, .div-input input{
  padding-bottom:20px;
  padding-top:20px;
  display: block;
  border:none;
  width:500px;
}
.div-input input{
  background-color: #fff9ed;
  border: 1px solid gray;
  border-radius:10px;
  padding:10px 10px 10px 10px;
  font-size: 16px;
  font-family: "raleway", tahoma;
}

.form-div h2{
  font-family: "baloo bhai" , cursive;
  font-size:50px;
}

.form-div p {
  font-weight:bold;
}
.form-div span{
  color:gold;
}

#area{
  height:100px;
}
.form-div button{
  background-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  margin-top:20px;
}
.form-div button:hover{
    color:#333;
    font-weight: bolder;
    background-color:gold;
}

#features-c {
  height: auto;
}